@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Fjalla+One&display=swap');

:root {
    --background-color: #303030;
    --text-color: #0B2541;
    --header-color: #0B2541;
    --button-color: #fff;
    --button-background-color: #2189ff;
    --button-hover-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --panel-background: rgba(255, 255, 255, 0.8);
    --panel-border-color: #000;
    --border-radius: 30px;
    --padding-large: 40px;
    --padding-small: 20px;
    --font-size-header: 3em;
    --font-size-body: 1rem;
    --transition-speed: 0.3s;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6em;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 600px;
    padding: var(--padding-large);
    border-radius: var(--border-radius);
    background-color: var(--panel-background);
    border-color: var(--panel-border-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn var(--transition-speed) ease-in-out;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    html, body {
        height: auto;
    }

    #panel {
        padding: var(--padding-small);
        border-radius: 0;
    }

    h1 {
        font-size: 2em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: var(--header-color);
    margin: 0.5em 0;
}

p {
    text-align: justify;
    margin: 0.5em 0;
    font-size: var(--font-size-body);
}

a {
    color: var(--text-color);
    text-decoration: none;
    transition: color var(--transition-speed) ease;
    font-weight: 600;
}

a:hover {
    color: var(--header-color);
}

.button {
    font-weight: 600;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    padding: 0.5em 1em;
    color: var(--button-color);
    background-color: var(--button-background-color);
    border-radius: 4px;
    text-decoration: none;
    transition: filter var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
}

.button:hover {
    color: var(--button-color);
    filter: brightness(115%);
    box-shadow: var(--button-hover-shadow);
}

#logo {
    width: 96px;
    height: 96px;
    display: block;
}

#footer {
    font-style: normal;
    font-size: smaller;
    color: var(--text-color);
    filter: brightness(50%);
    width: auto;
    margin-top: 20px;
}
